apiVersion: apps/v1
kind: Deployment
metadata:
  name: cluster-autoscaler
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cluster-autoscaler
  template:
    metadata:
      labels:
        app: cluster-autoscaler
    spec:
      serviceAccountName: cluster-autoscaler
      containers:
        - name: cluster-autoscaler
          image: registry.k8s.io/autoscaling/cluster-autoscaler:v1.29.0
          command:
            - ./cluster-autoscaler
            - --cloud-provider=aws
            # min:max:ASG_NAME (Spot 전용)
            - --nodes=0:2:eks-trendlens-ng-spot-c7iflexlarge-decd8617-d4dd-a3c0-a5e1-0e99dbacee8b
            - --skip-nodes-with-system-pods=false
            - --balance-similar-node-groups
            - --expander=least-waste
            - --stderrthreshold=info
            - --v=4
          resources:
            requests:
              cpu: 100m
              memory: 300Mi
            limits:
              cpu: 100m
              memory: 300Mi
